@font-face {
  font-family: MMD;
  src: url(res/MajorMonoDisplay-Regular.ttf);
}
@font-face {
  font-family: Mont;
  src: url(res/Montserrat-Regular.ttf);
}
@font-face {
  font-family: HeroSection;
  src: url(res/Staatliches-Regular.ttf);
}
@font-face {
  font-family: MontB;
  src: url(res/Montserrat-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  display: flex;
  flex-direction: column;
  cursor: none;
}
#navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
}
#nav-up {
  height: 4vh;
  width: 30%;
  background-color: #00060a;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-up h1 {
  padding: 0 3px;
  font-size: 15px;
  color: #1ce8ff;
  font-family: MMD;
}
#nav-down {
  height: 40px;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#nav-down h3 {
  font-family: Mont;
  font-size: 15px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
#cursor{
  height : 10px;
  width : 10px;
  filter: blur(1px);
  background-color: #91f4ff;
  /* border-radius: 50%; */
  position: fixed;
  z-index: 99;
}
#cursorbg{
  height : 700px;
  width: 700px;
  background-color:#1ce8ff16;
  border-radius: 50%;
  position: fixed;
  filter: blur(200px);
}
#hero-section {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#animateDiv{
  top: 10%;
  right: 5%;
  position: absolute;
  height:450px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.el{
  width: 100%;
  height: 33%;
  rotate: 45deg;
  border: 5px solid #1ce8ff60;
}
#ele1{
  animation: upDown 5s ease-in-out infinite;
}
#ele2{
  animation: upDown 4s ease-in-out infinite;
}
#ele3{
  animation: upDown 7s ease-in-out infinite;
}
#hero-section img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  user-select: none;
}
#hero-section-text {
  margin-top: 300px;
  padding-left: 100px;
  color: #ececec;
}
#hero-section-text p {
  font-family: Mont;
  font-size: 80px;
  font-weight: 900;
}
#hero-section-text h2 {
  width: 50%;
  height: fit-content;
  font-family: HeroSection;
  font-size: 200px;
  line-height: 80%;
  font-weight: 900;
}
#hero-section-text h3 {
  width: 100%;
  font-family: Mont;
  font-size: 50px;
  line-height: 150%;
  font-weight: 900;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(30, end), blink-caret 0.75s infinite;  
  animation-delay: 2s;

}
.makeCol {
  height: 40px;
  width: 30%;
  display: flex;
  justify-content: start;
  gap: 30px;
  align-items: center;
}
.primaryButton {
  height: 100%;
  width: 35%;
  font-family: Mont;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: black;
  font-size: 20px;
  font-weight: 800;
  background-color: #1ce8ff;
  border: 1px solid #1ce8ff;
  transition: all cubic-bezier(0, 1.74, 0.3, 1.77) 0.5s;
}
#collab {
  background-color: black;
  color: #1ce8ff;
}
#collab:hover {
  width: 40%;
  background-color: #1ce8ff80;
  color: black;
}
#hireme:hover {
  width: 40%;
  color: white;
  background-color: #1ce8ff80;
}

/*PAge2 Starts*/

#page2 {
  height: 100vh;
  width: 100vw;
  background-color: #151717;
}
.line-separator {
  width: 100%;
  height: 3px;
  background-color: transparent;
}
#first-line-separator{
  background-color: white;
}
.heading {
  width: max-content;
  display: flex;
  padding-top: 50px;
  padding-left: 100px;
}
.headingline {
  height: 100px;
  width: 20px;
  background-color: #1ce8ff;
}
.heading h2 {
  padding-left: 20px;
  font-family: MontB;
  text-transform: uppercase;
  font-size: 80px;
  color: #ececec;
}
#about-content img {
  z-index: 1;
  padding: 6% 0%;
  transition: all cubic-bezier(0, 1.74, 0.3, 1.77) 0.5s;
}
#about-content img:hover {
  scale: 0.9;
}
.innerMain {
  height: calc(100% - 153px);
  width: 100vw;
  padding: 2% 5%;
  display: flex;
  font-family: Mont;
  justify-content: start;
  font-weight: 500;
  color: #ececec;
}
#content {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 28px;
  line-height: 165%;
  z-index: 1;
}
#content p{
 margin-top: 20px;
}
#content span{
 color: #1ce8ff;
}
#downloadResumebtn {
  height: 8%;
  width: 80%;
  margin-bottom: 4%;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
  border-radius: 30px;
  border: 2px solid #1ce8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: Mont;
  font-size: 25px;
  color: white;
  font-weight: 800;
  transition: all cubic-bezier(0, 1.74, 0.3, 1.77) 0.5s;
}
#downloadResumebtn:hover {
  width: 75%;
  background-color: #1ce8ffc2;
  color: black;
}

/*Page 3 Starts*/

#page3 {
  height: 100vh;
  width: 100vw;
  background-color: #151717;
}
#projectsMain {
  flex-direction: column;
}
#project-row-1 {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
}
#project-row-2 {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectContainer {
  height: 85%;
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 40px;
  border: 1px solid #1ce8ff;
  background-image: url(https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all cubic-bezier(0, 1.74, 0.3, 1.77) 0.5s;
  
}
.projectContainer:hover {
  scale: 1.05;
}
.viewMoreBtnClass:hover {
  width: 20%;
  background-color: #1ce8ff80;
  color: white;
  border: 1px solid #1ce8ff;
}
.projectContainer h4 {
  width: 100%;
  font-size: 45px;
  padding-left: 3%;
  padding-right: 3%;
  text-transform: uppercase;
  text-align: center;
  font-family: MontB;
  -webkit-text-stroke: 0.8px #1ce8ff;
}
.projectContainer h5 {  
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  font-family: Mont;
  color: #1ce8ff;
  z-index: 1;
}
.viewMoreBtnClass {
  height: 75%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: black;
  transition: all cubic-bezier(0, 1.74, 0.3, 1.77) 0.5s;
  color: #1ce8ff;
  font-size: 30px;
  z-index: 1;
}

/*Page 4*/

#page4 {
  height: 100vh;
  width: 100vw;
  background-color: #151717;
}
#techStackMain {
  padding: 8% 5%;
  align-items: center;
  flex-direction: column;
}
.rows {
  width: 90%;
  height: 25%;
  display: flex;
  justify-self: center;
  align-items: center;
}
.ts {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all cubic-bezier(0, 1.74, 0.3, 1.77) 0.5s;
  background-color: rgb(0, 0, 0);
  border: 2px solid #1ce8ff;
  position: relative;
}
.ts-in {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all cubic-bezier(0, 1.74, 0.3, 1.77) 0.5s;
}
.ts img {
  height: 50%;
  width: 50%;
  object-fit: contain;
  position: absolute;
}
.ts:hover {
  background-color: #151717;
  border: 0px solid #1ce8ff;
}
.ts:hover .ts-in {
  scale: 1.2;
  background-color: #006873;

  filter: blur(10px);
}
#ts-row-1 {
  animation: upDown 3.2s ease-in-out 2s infinite;
  justify-content: space-between;
}
#ts-row-2 {
  animation: upDown 4.1s ease-in-out 3s infinite;
  justify-content: space-evenly;
}
#ts-row-3 {
  animation: upDown 2.6s ease-in-out 5s infinite;
  justify-content: center;
}
#ts-row-4 {
  animation: upDown 3.2s ease-in-out 2s infinite;
  justify-content: space-between;
}

/*Page 5*/

#page5 {
  height: 100vh;
  width: 100vw;
  background-color: #151717;
}
#blogsMain {
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#Blogscolumn1 {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blogs-inner-row {
  width: 98%;
  height: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-bottom: 1%;
}
.blogImage {
  height: 98%;
  width: 20%;
  border-radius: 30px;
  background-color: black;
  transition: all ease-in 0.15s;
}
#blogImage1{
  background-image: url(https://media.licdn.com/dms/image/D5612AQH4-pdViQF7GA/article-cover_image-shrink_720_1280/0/1720898154390?e=1727913600&v=beta&t=DYhYo7MnIWDMWvHRs_CBChR9sthHkNHb6N0-FPMYirY);
}
.blogImage:hover {
  scale: 1.01;
}
.blogDeet {
  height: 98%;
  width: 80%;
  padding: 2% 2%;
  transition: all cubic-bezier(0, 1.74, 0.3, 1.77) 0.5s;
}
.blogDeet:hover {
  border-radius: 0px 30px 30px 0px;
  border-right: 1px solid #1ce8ff;
  border-top: 1px solid #1ce8ff;
  border-bottom: 1px solid #1ce8ff;
}
.blogDeet:hover h2 {
  scale: 1.05;
  margin-left: 6%;
}
.blogDeet h2 {
  font-family: MontB;
  font-weight: 100;
  transition: all cubic-bezier(0, 1.74, 0.3, 1.77) 1s;
  font-size: 50px;
  color: #1ce8ff;
}
.blogDeet p {
  padding-top: 10px;
  font-family: Mont;
  font-size: 22px;
  color: #ededed;
}
#Blogscolumn2 {
  height: 60%;
  width: 4%;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  transition: all cubic-bezier(0, 1.74, 0.3, 1.77) 0.5s;
}
#Blogscolumn2 i {
  font-size: 60px;
  rotate: 270deg;
  transition: all cubic-bezier(0, 1.74, 0.3, 1.77) 0.5s;
}
#Blogscolumn2:hover i {
  margin-left: 10%;
}
#Blogscolumn2:hover {
  background-color: #151717;
  height: 50%;
  border: 0.5px solid #1ce8ff;
}

/*Page 6 starts from here*/
#page6 {
  height: 100vh;
  width: 100vw;
  background-color: #151717;
}
#momentsMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 33px;
}
#momentsRow1{
  height: 90%;                  
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  gap: 5%;                   
}
#momentsRow2{
  height: 10%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.columnDiv {
  height: 80%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  transition: all cubic-bezier(0, 1.74, 0.3, 1.77) 0.5s;
}
.columnDiv img{
  height: 80%;
  width: 90%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.columnDiv p{
  margin-top: 2%;
  font-family: MontB;
}
.columnDiv:hover {
  scale: 1.05;
  border: 1px solid #1ce8ff;
  border-radius: 20px;
}

/*Quote Page*/
#quotePage{
  height: 70vh;
  width: 100vw;
  background-color: #151717;
}
#quoteInner{
  height: 90%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1%;
}
.quoteInnerRow{
  height: 15%;
  width: 90%;
}
#quote-row-1{
  display: flex;
  justify-content: start;
  font-size: 150px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#quote-row-2{
  height: 60%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 75px;
  font-family: MontB;
}
#quote-row-3{
  display: flex;
  justify-content: end;
  align-items: start;
  font-size: 150px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/*Footer page*/
#footer{
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #151717;
}
#footer-in{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid #1ce8ff;
  border-left: 2px solid #1ce8ff;
  border-right: 2px solid #1ce8ff;
  border-radius : 90px 90px 0px 0px;
}

#footerRow1{
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
#footerRow1 h2{
  font-size: 120px;
  font-family: MMD;
  color: #1ce8ff;
}
#footerRow2{
  height: 70%;
  width: 100%;
  padding-left: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}
#footerCol1{
width: 80%;
height: 100%;
z-index: 1;
}
#line1{
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  font-family: Mont;
  font-size: 20px;
}
#line1 i{
  font-size: 28px;
}
#line2{
  height: 15%;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
}
#line2 i{
  font-size: 28px;
}
#line3{
  margin-top: 10px;
  height: 1px;
  width: 20%;
  border-radius: 20px;
  background-color: white;
}
#line4{
  height: 15%;
  width: 100%;
  margin-top: 10px;
  font-size: 28px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
}
#line5{
  height: 50%;
  width: 100%;
  margin-top: 20px;
  font-family: Mont;
}

#footerCol2{
  width: 5px;
  height: 60%;
  background-color: #1ce8ff;
}
#footerCol3{
  width: 18%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
#quickLinksBox{
  padding-left: 10%;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#quickLinksBox h2{
  font-size: 36px;
  margin-bottom: 10px;
}
#quickLinksBox p{
  margin-left: 20px;
  margin-top: 5px;
  font-size: 24px;
}
#foot{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ececec;
  font-family: Mont;
}
#foot h1{
  font-size: 32px;
}
#foot h2{
  font-size: 20px;
  margin-top: 10px;
}
/*For Mobile*/
@media (max-width: 650px) {
  #nav-up {
    height: 3vh;
    width: 60%;
    border-right: 0.5px solid white;
    border-bottom: 0.5px solid white;
    border-left: 0.5px solid white;
    border-radius: 0px 0px 20px 20px;
  }
  #nav-down {
    height: 40px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #nav-down h3 {
    font-family: Mont;
    font-size: 10px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
  }
  #hero-section-text h3 {
    font-size: 20px;
    line-height: 200%;
    margin-left: 5px;
  }
  #hero-section-text {
    margin-top: 400px;
    padding-left: 30px;
    color: #ececec;
  }
  #hero-section-text p {
    font-family: Mont;
    font-size: 40px;
  }
  #hero-section-text h2 {
    width: fit-content;
    font-size: 80px;
  }
  .makeCol {
    margin-top: 5px;
    width: 100%;
    justify-content: start;
    gap: 10px;
  }
  .primaryButton {
    height: 40px;
    width: 150px;
    font-size: 15px;
  }

  /*Page 2 Starts here*/
  .line-separator {
    background-color: #1ce8ff;
  }
  .heading {
    padding-left: 10px;
  }
  .headingline {
    height: 55px;
    width: 10px;
    background-color: #1ce8ff;
  }
  .heading h2 {
    padding-left: 10px;
    font-size: 40px;
  }
  .innerMain {
    height: calc(100% - 97px);
    width: 100vw;
  }
  #about-content {
    width: 100%;
    padding: 0% 5%;
    flex-direction: column;
    font-size: 14px;
  }
  #about-content img {
    padding: 5% 0%;
  }
  #downloadResumebtn {
    margin-top: 20px;
    height: 20%;
    font-size: 14px;
    margin-bottom: 0%;
    gap: 5px;
  }
  #content {
    flex-direction: column-reverse;
  }
}

@keyframes upDown {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(25px);
  }
  100% {
      transform: translateY(0);
  }
}
@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
      border-color: transparent;
  }
  50% {
      border-color: #333;
  }
}