@font-face {
  font-family: MMD;
  src: url(res/MajorMonoDisplay-Regular.ttf);
}
@font-face {
  font-family: Mont;
  src: url(res/Montserrat-Regular.ttf);
}
@font-face {
  font-family: HeroSection;
  src: url(res/Staatliches-Regular.ttf);
}
@font-face {
  font-family: MontB;
  src: url(res/Montserrat-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  display: flex;
  flex-direction: column;
}
#navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
}
#nav-up {
  height: 6vh;
  width: 30%;
  margin-top: -30px;
  background-color: #00060a;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-up h1 {
  margin-top: 30px;
  padding: 0 3px;
  font-size: 15px;
  color: #1ce8ff;
  font-family: MMD;
}
#nav-down {
  height: 40px;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#nav-down h3 {
  font-family: Mont;
  font-size: 15px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
#hero-section {
  height: 100vh;
  width: 100%;
}
#hero-section img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  user-select: none;
}
#hero-section-text {
  margin-top: 300px;
  margin-left: 100px;
  color: #ececec;
}
#hero-section-text p {
  font-family: Mont;
  font-size: 80px;
  font-weight: 900;
}
#hero-section-text h2 {
  width: 50%;
  height: fit-content;
  font-family: HeroSection;
  font-size: 200px;
  line-height: 80%;
  font-weight: 900;
}
#hero-section-text h3 {
  width: 100%;
  font-family: Mont;
  font-size: 50px;
  line-height: 150%;
  font-weight: 900;
  margin-left: 10px;
}
.makeCol {
  width: 50%;
  display: flex;
  justify-content: start;
  gap: 30px;
  align-items: center;
}
.primaryButton {
  height: 40px;
  width: 200px;
  font-family: Mont;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: black;
  font-size: 20px;
  font-weight: 800;
  background-color: #1ce8ff;
  border: 1px solid #1ce8ff;
  transition: all ease-in 0.3s;
}
#collab {
  background-color: black;
  color: #1ce8ff;
}
#collab:hover {
  background-color: #1ce8ff80;
  color: black;
}
#hireme:hover {
  color: white;
  background-color: #1ce8ff80;
}

/*PAge2 Starts*/

#page2 {
  height: 100vh;
  width: 100%;
  background-color: #000;
  background: linear-gradient(
    to left bottom,
    #003136,
    #000000,
    #000000,
    #000000,
    #003136
  );
}
#line-separator {
  width: 100%;
  height: 3px;
  background-color: white;
}
#aboutheading {
  display: flex;
  margin-top: 50px;
  margin-left: 100px;
}
#headingline {
  height: 90px;
  width: 20px;
  background-color: #1ce8ff;
}
#phoneHeadingAbout {
  display: none;
}
#aboutheading h2 {
  margin-left: 20px;
  font-family: MontB;
  font-size: 80px;
  color: #ececec;
}
#about-content img{
  padding: 5% 0%;
}
#about-content {
  height: calc(100% - 200px);
  padding: 2% 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
  font-family: Mont;
  font-weight: 500;
  font-size: 33px;
  color: #ececec;
  text-align: justify;
  line-height: 165%;
}
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#downloadResumebtn {
  height: 8%;
  width: 80%;
  margin-bottom: 4%;
  border-radius: 30px;
  border: 2px solid #1ce8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: Mont;
  font-size: 25px;
  color: white;
  font-weight: 800;
  transition: all ease-in 0.2s;
}
#downloadResumebtn:hover {
  background-color: #1ce8ffc2;
  color: black;
}
/*For Mobile*/
@media (max-width: 650px) {
  #nav-up {
    height: 6vh;
    width: 60%;
    margin-top: -30px;
    border: 0.5px solid white;
    border-radius: 15px;
  }
  #nav-down {
    height: 40px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #nav-down h3 {
    font-family: Mont;
    font-size: 10px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
  }
  #hero-section {
    height: calc(100vh - 56px); 
  }
  #hero-section-text h3 {
    font-size: 20px;
    line-height: 200%;
    margin-left: 5px;
  }
  #hero-section-text {
    margin-top: 400px;
    margin-left: 30px;
    color: #ececec;
  }
  #hero-section-text p {
    font-family: Mont;
    font-size: 40px;
  }
  #hero-section-text h2 {
    width: fit-content;
    font-size: 80px;
  }
  .makeCol {
    margin-top: 5px;
    width: 100%;
    justify-content: start;
    gap: 10px;
  }
  .primaryButton {
    height: 40px;
    width: 150px;
    font-size: 15px;
  }
  
  /*Page 2 Starts here*/
  #line-separator {
    background-color:#1ce8ff;
  }
  #phoneHeadingAbout {
    display: block;
    margin-left: 15px;
    font-family: MontB;
    font-size: 40px;
    color: #ececec;
  }
  #aboutheading {
    margin-left: 10px;
    position: absolute;
  }
  #about-content img{
    padding: 0% 0%;
  }
  #headingline {
    height: 300px;
    width: 5px;
  }
  #aboutheading h2 {
    display: none;
  }
  #about-content {
    margin-top: 35%;
    width: 100%;
    flex-direction: column;
    font-size: 15px;
  }
  #downloadResumebtn {
    height: 15%;
    font-size: 14px;
    margin-bottom: 0%;
    margin-top: 4%;
    gap: 5px;
  }
  #content {
    display: flex;
    flex-direction: column-reverse;
  }
}
